.search {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
    padding-bottom: 50px;

    h2 {
        text-align: center;
        font-size: 2.2rem;
        margin-top: 100px;
    }

    .result {
        align-self: flex-start;
    }
}

app-search-name {
    width: 90%;
}
